*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header, 
.main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
}

.header__link {
  color: inherit;
  text-decoration: none;
}

.header__link:hover {
  color: #f9dba0;
  transition: color 0.4s ease-in-out;
}

.header__logo {
  font-size: 1.5rem;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.form__input {
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  resize: none;
  border: 3px solid black;
  border-radius: 6px;
  margin-bottom: 1rem;
  background-color: #fafafa;
}

.form__button {
  padding: 0.5rem 2.5rem;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  background-color: #f9dba0;
  cursor: pointer;
  align-self: flex-end;
}